<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="F:\demo\ssm-01\src\main\java\com\fa\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>